@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
  background-color: #fff;
  color: #fff;
  margin: 0;
  padding: 0;}

.page {
  max-width: 700px;
  margin: 0 auto 30px auto;}

.panel {
  background-color: #fff;
  color: #666;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;}

button {
  border: none;}

h1 {
  text-align: center;
  width: 110px;
  height: 100px;
  margin: 40px auto 40px auto;
  background-image: url('../img/issoft-logo.png');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;}

body, button {
    font-family: 'Jacques Francois', serif;}

h2, h3 {
  font-weight: normal;
  margin: 0;}
h2 {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-size: 230%;
  line-height: 1em;
  padding: 20px 0 0 20px;}
h3 {
  font-size: 90%;
  letter-spacing: 0.2em;}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 1.4em;}

a {
    text-decoration: none;}

button {
  font-size: 90%;
  text-align: left;
  text-transform: uppercase;}